@font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

  *{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
  }

  nav{
    background: black;
    height: 80px;
    width: 100%;
  }

  label.navbar{
    color: #fff;
    font-size: 20px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

  nav ul{
      float: right;
      margin-right: 20px;
  }

  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }

  nav ul li a{
      color: white;
      font-size: 15px;
      padding: 7px 13px;
      border-radius: 3px;
      text-transform: uppercase;
  }

  a.active,a:hover{
     background: rgb(179, 141, 17);
     transition: .5s;
  }